@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
